.search {
    padding:10px;
    border-radius: 7px;
    background-color: black;
    border:1px solid gray;
}

.search-input{
    padding:0 10px;
    font-size: 1.5em;
    background-color:black;
    color: white;
    border-radius: 4px;
    border:2px solid gray;
}

#search-select{
    font-size: 1.5em;
    padding:0 10px;
    text-align: center;
    background-color:black;
    color: white;
    border-radius: 4px;
    border:2px solid gray;
}

.search-img{
 width: 75px;
 cursor: pointer;
 transition:0.5s;
}

.search-img:hover{
    transform: rotateZ(270deg);
    filter: invert();
}

.info-meteo
,.otherDay{
    background-color: black;
    border:1px solid gray;
    color:white;
    border-radius: 7px;
    min-width: 250px;
}

.info-meteo__img{
  max-width: 150px;
}

.info-meteo__date{
    width: 100%;
}

.hidden {
    display: none!important;
}

.info-meteo__search__input{
    width: 100%;
    background-color: rgb(0, 0, 0);
    color:white;
    border-radius: 5px;
    border:none;
    text-align: center;
}


.info-meteo__search{
    font-size: 1.5em;
    
    min-height: 100px;
}

.color-black{
    background-color: black;
}